html[tema=light] * {
  margin: 0;
  padding: 0;
}
html[tema=light] body {
  height: 1000px;
  background-color: #dbdada;
}
html[tema=light] header {
  display: grid;
  grid-template-columns: 0.1fr repeat(3, 1fr) 0.1fr;
  width: 100%;
  height: 4em;
  background-color: #8f8f8f;
  color: black;
  grid-template-areas: "imgBlocoNotas txtBlocosNotas . txtDark imgSOL";
  box-shadow: 0 1px 15px black;
}
html[tema=light] header label {
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
}
html[tema=light] header .imgBlocoNotas {
  width: 3vw;
  height: 6vh;
  grid-area: imgBlocoNotas;
  align-self: center;
}
html[tema=light] header .txtBlocosNotas {
  grid-area: txtBlocosNotas;
  align-self: center;
}
html[tema=light] header .txtDark {
  grid-area: txtDark;
  justify-self: end;
  align-self: center;
  margin-right: 1vh;
}
html[tema=light] header .imgSOL {
  grid-area: imgSOL;
  justify-self: end;
  align-self: center;
}
html[tema=light] header .imgSOL img {
  margin: 1vh 1vh 1vh 1vh;
  width: 4vh;
  height: 4vh;
}
html[tema=light] header .imgSOL img:hover {
  border-radius: 50%;
  background-color: white;
}
html[tema=light] header {
  background-color: #8f8f8f;
  color: black;
  box-shadow: 0 1px 15px black;
}
html[tema=light] body {
  background-color: #dbdada;
}
html[tema=light] .bloco {
  box-sizing: border-box;
  padding: 15px;
  display: grid;
  margin: 0 auto;
  margin-top: 6vh;
  width: 500px;
  height: 500px;
  border-radius: 8px;
  border: 5px solid black;
  background-color: #bdbcbc;
  grid-template-columns: 0.3fr 1fr 0.2fr 0.2fr;
  grid-template-rows: 1fr 0.1fr 10fr;
  grid-template-areas: "data titulo imgBlocoLapis imgBlocoLixo" "hrBloco hrBloco hrBloco hrBloco" "textAreaBloco textAreaBloco textAreaBloco textAreaBloco";
}
html[tema=light] .bloco img {
  width: 1.4vw;
}
html[tema=light] .bloco textarea {
  margin-top: 15px;
  border: 4px solid #868686;
  background-color: white;
  color: black;
  border-radius: 15px;
  padding: 15px;
  font-size: 2em;
  resize: none;
}
html[tema=light] .bloco .data {
  grid-area: data;
  align-self: center;
  font-weight: bold;
}
html[tema=light] .bloco .titulo {
  justify-self: center;
  align-self: center;
  grid-area: titulo;
  font-weight: bold;
  font-size: 2em;
  border: none;
  background-color: transparent;
  width: 250px;
  text-align: center;
  background-color: #bdbcbc;
  border-radius: 15px;
}
html[tema=light] .bloco .titulo:hover, html[tema=light] .bloco .titulo:focus {
  color: #868686;
}
html[tema=light] .bloco .hrBloco {
  grid-area: hrBloco;
  height: 4px;
  background-color: black;
  border: none;
}
html[tema=light] .bloco .imgBlocoLapis {
  justify-self: center;
  align-self: center;
  grid-area: imgBlocoLapis;
}
html[tema=light] .bloco .imgBlocoLixo {
  justify-self: center;
  align-self: center;
  grid-area: imgBlocoLixo;
}
html[tema=light] .bloco .textAreaBloco {
  grid-area: textAreaBloco;
}
html[tema=light] .bloco {
  border: 5px solid black;
  background-color: #bdbcbc;
}
html[tema=light] .bloco textarea {
  background-color: white;
  color: black;
  border: 4px solid #868686;
}
html[tema=light] .bloco .titulo {
  background-color: #bdbcbc;
}
html[tema=light] .bloco .titulo:hover, html[tema=light] .bloco .titulo:focus {
  color: #868686;
}
html[tema=light] .bloco .hrBloco {
  background-color: black;
}
html[tema=light] aside {
  top: 70px;
  left: 96.4vw;
  display: grid;
  position: fixed;
  width: 3em;
  height: 9em;
  border-radius: 15px;
  border: 2px solid black;
  grid-template-rows: 1fr 0.1fr 1fr 0.1fr 1fr;
  grid-template-areas: "imgAsideMais" "hr1" "asideNumero" "hr2" "imgAsideCeta";
}
html[tema=light] aside .imgAsideMais {
  grid-area: imgAsideMais;
  justify-self: center;
  align-self: center;
  height: 50%;
}
html[tema=light] aside .imgAsideCeta {
  grid-area: imgAsideCeta;
  justify-self: center;
  align-self: center;
  height: 50%;
}
html[tema=light] aside .asideNumero {
  grid-area: asideNumero;
  justify-self: center;
  align-self: center;
  font-weight: bold;
  font-size: 1.5em;
  font-family: consolas;
  color: black;
}
html[tema=light] aside hr {
  background-color: black;
  border: none;
  height: 2px;
}
html[tema=light] aside .hr1 {
  grid-area: hr1;
}
html[tema=light] aside .hr2 {
  grid-area: hr2;
}
html[tema=light] aside {
  border: 2px solid black;
}
html[tema=light] aside hr {
  background-color: black;
}
html[tema=light] aside .asideNumero {
  color: black;
}

html[tema=dark] * {
  margin: 0;
  padding: 0;
}
html[tema=dark] body {
  height: 1000px;
  background-color: #dbdada;
}
html[tema=dark] header {
  display: grid;
  grid-template-columns: 0.1fr repeat(3, 1fr) 0.1fr;
  width: 100%;
  height: 4em;
  background-color: #8f8f8f;
  color: black;
  grid-template-areas: "imgBlocoNotas txtBlocosNotas . txtDark imgSOL";
  box-shadow: 0 1px 15px black;
}
html[tema=dark] header label {
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
}
html[tema=dark] header .imgBlocoNotas {
  width: 3vw;
  height: 6vh;
  grid-area: imgBlocoNotas;
  align-self: center;
}
html[tema=dark] header .txtBlocosNotas {
  grid-area: txtBlocosNotas;
  align-self: center;
}
html[tema=dark] header .txtDark {
  grid-area: txtDark;
  justify-self: end;
  align-self: center;
  margin-right: 1vh;
}
html[tema=dark] header .imgSOL {
  grid-area: imgSOL;
  justify-self: end;
  align-self: center;
}
html[tema=dark] header .imgSOL img {
  margin: 1vh 1vh 1vh 1vh;
  width: 4vh;
  height: 4vh;
}
html[tema=dark] header .imgSOL img:hover {
  border-radius: 50%;
  background-color: white;
}
html[tema=dark] header {
  background-color: #1b1b1b;
  color: rgba(255, 255, 255, 0.74);
  box-shadow: 0 1px 15px black;
}
html[tema=dark] body {
  background-color: #310047;
}
html[tema=dark] .bloco {
  box-sizing: border-box;
  padding: 15px;
  display: grid;
  margin: 0 auto;
  margin-top: 6vh;
  width: 500px;
  height: 500px;
  border-radius: 8px;
  border: 5px solid black;
  background-color: #bdbcbc;
  grid-template-columns: 0.3fr 1fr 0.2fr 0.2fr;
  grid-template-rows: 1fr 0.1fr 10fr;
  grid-template-areas: "data titulo imgBlocoLapis imgBlocoLixo" "hrBloco hrBloco hrBloco hrBloco" "textAreaBloco textAreaBloco textAreaBloco textAreaBloco";
}
html[tema=dark] .bloco img {
  width: 1.4vw;
}
html[tema=dark] .bloco textarea {
  margin-top: 15px;
  border: 4px solid #868686;
  background-color: white;
  color: black;
  border-radius: 15px;
  padding: 15px;
  font-size: 2em;
  resize: none;
}
html[tema=dark] .bloco .data {
  grid-area: data;
  align-self: center;
  font-weight: bold;
}
html[tema=dark] .bloco .titulo {
  justify-self: center;
  align-self: center;
  grid-area: titulo;
  font-weight: bold;
  font-size: 2em;
  border: none;
  background-color: transparent;
  width: 250px;
  text-align: center;
  background-color: #bdbcbc;
  border-radius: 15px;
}
html[tema=dark] .bloco .titulo:hover, html[tema=dark] .bloco .titulo:focus {
  color: #868686;
}
html[tema=dark] .bloco .hrBloco {
  grid-area: hrBloco;
  height: 4px;
  background-color: black;
  border: none;
}
html[tema=dark] .bloco .imgBlocoLapis {
  justify-self: center;
  align-self: center;
  grid-area: imgBlocoLapis;
}
html[tema=dark] .bloco .imgBlocoLixo {
  justify-self: center;
  align-self: center;
  grid-area: imgBlocoLixo;
}
html[tema=dark] .bloco .textAreaBloco {
  grid-area: textAreaBloco;
}
html[tema=dark] .bloco {
  border: 5px solid black;
  background-color: #525252;
}
html[tema=dark] .bloco textarea {
  background-color: #a8a8a8;
  color: black;
  border: 4px solid #868686;
}
html[tema=dark] .bloco .titulo {
  background-color: #525252;
}
html[tema=dark] .bloco .titulo:hover, html[tema=dark] .bloco .titulo:focus {
  color: #868686;
}
html[tema=dark] .bloco .hrBloco {
  background-color: black;
}
html[tema=dark] aside {
  top: 70px;
  left: 96.4vw;
  display: grid;
  position: fixed;
  width: 3em;
  height: 9em;
  border-radius: 15px;
  border: 2px solid black;
  grid-template-rows: 1fr 0.1fr 1fr 0.1fr 1fr;
  grid-template-areas: "imgAsideMais" "hr1" "asideNumero" "hr2" "imgAsideCeta";
}
html[tema=dark] aside .imgAsideMais {
  grid-area: imgAsideMais;
  justify-self: center;
  align-self: center;
  height: 50%;
}
html[tema=dark] aside .imgAsideCeta {
  grid-area: imgAsideCeta;
  justify-self: center;
  align-self: center;
  height: 50%;
}
html[tema=dark] aside .asideNumero {
  grid-area: asideNumero;
  justify-self: center;
  align-self: center;
  font-weight: bold;
  font-size: 1.5em;
  font-family: consolas;
  color: black;
}
html[tema=dark] aside hr {
  background-color: black;
  border: none;
  height: 2px;
}
html[tema=dark] aside .hr1 {
  grid-area: hr1;
}
html[tema=dark] aside .hr2 {
  grid-area: hr2;
}
html[tema=dark] aside {
  border: 2px solid rgba(255, 255, 255, 0.74);
}
html[tema=dark] aside hr {
  background-color: rgba(255, 255, 255, 0.74);
}
html[tema=dark] aside .asideNumero {
  color: rgba(255, 255, 255, 0.74);
}
/*# sourceMappingURL=main.css.map */
